@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header
{
    margin-top: 2rem;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
header h1
{
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 2rem;
}
header .heading-para
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
header .heading-para img
{
    margin-top: 0.2rem;
}
header .heading-para .para
{
    width: 52%;
    font-size: 14px;
    font-style: italic;
}
.image
{
    margin-top: 2rem;
    margin-left: 12.5%;
    margin-right: 12.5%;;
}
.image img
{
    width: 100%;
    height: 100%;
}
.content
{
    margin-top: 2rem;
    margin-left: 12.5%;
    margin-right: 12.5%;  
    display: grid;
    grid-template-columns: 75% 25%;
}
.content .instructions
{
    width: 65%;
}
.content .instructions .ingredients h2,.content .instructions .instruction h2
{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
}
.content .instructions .ingredients h3
{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}
.content .instructions .ingredients .ingridients-list,.content .instructions .ingredients .cheesecake-list
{
    counter-reset: orderedlist;
    list-style: none;
}
.content .instructions .ingredients .ingridients-list li,.content .instructions .ingredients .cheesecake-list li
{
    display: grid;
    grid-template-columns: 0.1% 99.9%;
    grid-gap: 2.2rem;
    align-items: start;
    margin-bottom: 1rem;
}
.content .instructions .ingredients .ingridients-list li::before,.content .instructions .ingredients .cheesecake-list li::before
{
    counter-increment: orderedlist;
    content: '';
    width: 1.5rem;
    border: 1px solid #828282;
    box-sizing: border-box;
    height: 1.5rem;
    text-align: center;
    color: #fff;
    background-color: #fff;
    border: 1px soild #000;
    border-radius: 0.25em;
}
.content .instructions .instruction .instructions-list
{
    counter-reset: orderedlist;
    list-style: none;
}
.content .instructions .instruction .instructions-list li
{
    display: grid;
    grid-template-columns: 2% 98%;
    grid-gap: 2.5rem;
    align-items: start;
    margin-bottom: 1rem;
}
.content .instructions .instruction .instructions-list li::before
{
    padding: 0.5rem 0.1rem;
    counter-increment: orderedlist;
    content: counter(orderedlist);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 0.75;
    width: 2rem;
    text-align: center;
    color: #fff;
    background-color: #F2994A;
    border-radius: 0.25em;
    margin-right: 1rem;
}
.content .instructions .ingredients .ingridients-list li .bold,.content .instructions .ingredients .cheesecake-list li .bold,.content .instructions .instruction .instructions-list li .bold
{
    font-weight: 700;
}
.content .instructions .ingredients .ingridients-list li .italic,.content .instructions .ingredients .cheesecake-list li .italic,.content .instructions .instruction .instructions-list li .italic
{
    font-style: italic;
}
.content .timing
{
    width: 16vw;
    height: 44vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.content .timing .timing-box
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}
.content .timing .timing-box .timings,.content .timing .timing-box .minutes, .content .timing .timing-box .hours, .content .timing .timing-box .hour
{
    display: flex;
    margin-left: 22%;
    gap: 1rem;
    align-items: center;
}
.content .timing .timing-box .minutes, .content .timing .timing-box .hours, .content .timing .timing-box .hour
{
    margin-top: 2rem;
}
.rest
{
    display: flex;
    flex-direction: column;
}
.content .timing .timing-box .timings .timings-content .title,
.content .timing .timing-box .minutes .minutes-content .title, 
.content .timing .timing-box .hours .hours-content .title, 
.content .timing .timing-box .hour .hour-content .title
{
    font-size: 10px;
    color: #BDBDBD;
    font-weight: 700;
    margin-bottom: .2rem;
}
.content .timing .timing-box .timings .timings-content .text-content,
.content .timing .timing-box .minutes .minutes-content .text-content, 
.content .timing .timing-box .hours .hours-content .text-content, 
.content .timing .timing-box .hour .hour-content .text-content
{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}
@media (max-width:1000px)
{
    header
    {
        margin-left: 1rem;
    }
    header h1
    {
        font-size: 24px;
    }
    header .heading-para
    {
        gap: 0.5rem ;
        margin-top: -1rem;
        width: 100%;
    }
    header .heading-para .para
    {
        font-size: 12px;
        width: 100%;
    }
    .image
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .content
    {
        display: grid;
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: 100%;
    }
    .content>div:nth-of-type(1)
    {
        order: 2;
    }
    .content>div:nth-child(2)
    {
        order: 1;
    }
    .content .timing
    {
        width: 95%;
        height: 100%;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    .content .timing .timing-box .timings, .content .timing .timing-box .minutes, .content .timing .timing-box .hours, .content .timing .timing-box .hour
    {
        margin-left: 0;
        gap: 0.1rem;
    }
    .content .timing .timing-box .rest
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
    }
    .content .timing .timing-box .timings .timings-content .title, 
    .content .timing .timing-box .minutes .minutes-content .title, 
    .content .timing .timing-box .hours .hours-content .title, 
    .content .timing .timing-box .hour .hour-content .title
    {
        font-size: 8px;
    }
    .content .timing .timing-box .timings .timings-content .text-content,
    .content .timing .timing-box .minutes .minutes-content .text-content, 
    .content .timing .timing-box .hours .hours-content .text-content, 
    .content .timing .timing-box .hour .hour-content .text-content
    {
        font-size: 10px;
    }
    .content .instructions
    {
        width: 100%;
        font-size: 14px;
    }
    .content .instructions .ingredients
    {
        width: 92%;
    }
    .content .instructions .instruction
    {
        font-size: 16px;
        width: 80%;
    }
}